
.hoverable-radio-button:hover {
  background-color: #ff7f50;
  border-color: #ff7f50;
  color: white;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.center-image-productDetails{
  display: flex;
  justify-content: center;
  align-items: center;
}
.appHeader{
  
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingCartOutlined{
  font-size: 25px;
  margin-top: 20px;
  margin-right: 16px;
  cursor: pointer;
}
.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.appFooter{
  height: 60px;
  background-color: black;
  color: white;
}
.itemCard{
  margin: 8px;
}
.itemCardRibbon{
  margin: 0 8px;
  background: pink;
}
.itemCardRibbonHide{
  display: none;
}
.itemCardBrand{
  width: 200px;
  height: 200px;
  /* padding: 0; */
  /* margin: 0 8px; */
}
.itemCardImage{
  height: 150px !important;
  object-fit:  scale-down;
}

.appBg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./assets/images/BgLogin.png);
    background-size: cover;
}
.loginForm{
  background-color: rgb(255, 255, 255,0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.33);
  backdrop-filter: blur(3px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
}
.socialLogin{
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;
  font-size: 24px;
}
.socialIcon{
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* 
.cardInactive {
  background-color: #ccc;
  opacity: 0.5;
} */